body {
    font-family: 'Open Sans', sans-serif;
}
#graph-canvas {
    margin-left: -500px;
    position: absolute;
}
#y {
    width: 30px;
}
table {
    font-weight: bold;
 }
th {
    padding: 10px 20px;
    border: 2px solid;
    font-size: 18px;
}
td {
    padding: 10px;
    border: 2px solid;
    font-size: 14px;
    text-align: center;
}
.errorMessage {
    display: none;
}
.container {
    height: 400px;
    display: inline-block;
    overflow: scroll;
}
.content {
    display: inline-block;
    padding-left: 20px;
}

.form-coordinates {
    margin-left: 45%;
}
.form-buttons {
    margin-left: 25%;
}
