<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab4</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="content">
    <img id="graph-img" height="500" width="500" src="/images/graph.svg" ref="graphImg">
    <canvas id="graph-canvas" height="500" width="500" v-on:click="sendHit" ref="graph"/>
</div>

<div class="content info">
    <form id="input-form" action="/hit" method="post"></form>
    <div class="container"><table id="hits-table"></table></div>
    <div class="logout"><a href="/logout">Выйти из аккаунта</a></div>
</div>
</body>
<script src="/js/main.js"></script>
</html>