<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab4</title>
</head>
<body>
<form id="input-form">
    <label for="x">X:</label>
    <select id="x" name="x">
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br>

    <label for="y">Y:</label>
    <input type="text" value="1" name="y" id="y">
    <br>

    <label for="r">R:</label>
    <select id="r" name="r">
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1" selected="selected">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br>

    <input type="submit">
    <input type="reset" id="clear">
</form>

<br>
<div>
    <img id="graph-img" src="/images/graph.svg">
    <canvas id="graph-canvas" height="700" width="700">

    </canvas>
</div>
<br>
<table>
    <tr>
        <th>Date and Time</th>
        <th>X</th>
        <th>Y</th>
        <th>R</th>
        <th>Hit</th>
    </tr>
    <tr th:each="point : ${points}">
        <td th:text="${point.getDateTime()}" />
        <td th:text="${point.getX()}" />
        <td th:text="${point.getY()}" />
        <td th:text="${point.getR()}" />
        <td th:text="${point.isHit()}" />
    </tr>
</table>
</body>


<link rel="stylesheet" href="/css/main.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/main.js"></script>
</html>